process.container = 'hj12345/am_processv2.0:latest'
docker.runOptions='-v /Users/hangjia/Data/test-pipeline/test-docker:/app/datadir -v /Users/hangjia/switchdrive/Private/work/AM-nextflow:/app/workdir'

trace {
    fields = 'task_id,process,tag,name,status,exit,realtime,cpus,%cpu,memory,%mem,submit,start'
}

process.errorStrategy = "terminate"